<h1><% current_user %> Welcome <%= current_user.email %>!</h1>
<%= button_to "Discover Movies", "/discover", method: :get %><br>

<body>
  <section>
    <p>Friends</p>
  </section><br>

  <section>
    <p>Viewing Parties</p>
  </section>
</body>
